@tailwind base;
@tailwind components;
@tailwind utilities;


/* Prevent horizontal scrolling */
body {
    overflow-x: hidden;
  }
  
  /* Ensure container does not cause overflow */
  .container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }


  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* styles.css */
html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}